 {
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">0.5%", "last 2 versions", "not ie < 11", "ie >= 11"]
        }
      }
    ]
  ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-spread",
        "@babel/plugin-transform-computed-properties",
        "@babel/plugin-transform-shorthand-properties",
        "@babel/plugin-transform-destructuring",
        "@babel/plugin-transform-parameters",
        "@babel/plugin-transform-template-literals",
        ["@babel/plugin-transform-arrow-functions", {"spec": true}]
    ]
}
